
.parallax {
	/* The image used */
    background-image: url("../images/james-and-sons.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
	background-image: url("../images/background3.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	overflow-y:scroll;
}

img#form {
	float: left;
	width: 30%;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 50px;
}

#overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
	transition: background 0.5s;
    background: rgba(0, 0, 0, 0.7);
}

.triple{
	width: 29%;
	padding-left:2%;
	padding-right:2%;
}

.left {
	float:left;
}

.clear {
	clear:left;
}

form {
	text-align:left;
	padding-top: 2.5%;
	width: 33%;
	margin: 0px;
	margin-left: 5%;
	float:left;
}

input {
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
}

table#submit {
	width: 88%;
}

img#logo {
	width: 20%;
	height: 15%;
	padding: 10px;
}

.line {
  line-height: 0.5;
  text-align: center;
  overflow: hidden;
}
.line span {
  display: inline-block;
  position: relative;  
}
.line span:before,
.line span:after {
  content: "";
  position: absolute;
  height: 0px;
  border-top: 1px solid #9a9a9a;
  border-bottom: 1px solid #eeeeee;
  top: 40%;
  width: 45%;
}
.line span:before {
  right: 60%;
  margin-right: 15px;
}
.line span:after {
  left: 60%;
  margin-left: 15px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}