div.nav {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top:0px;
	left:0px;
	background-color: #111;
	overflow-x:hidden;
	padding-top: 30px;
	transition: 0.5s;
	font-family: 'Roboto', sans-serif;
}

/* Position and style the close button (top right corner) */
.nav #openSymbol {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
	transition: visibility 0s;
}

div#content {
	text-align:center;
	margin-left: 100%;
	transition: margin-left .5s;
	padding: 20px;
}

div.nav a{
	text-align:left;
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	white-space: nowrap;
	overflow: hidden;
}

div.nav a:hover{
	/*transition: padding-left 0.1s !important;
	padding-left: 48px !important;*/
    color: #f1f1f1;
}