h1 {
	color:#FF0000;
	border-bottom: 5px solid #FF0000;
	text-align:center;
}

h2 {
	color:#0000FF;
	border-bottom: 3px solid #0000FF;
}

p {
	text-indent:25px;
}

div#right {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	float: right;
	width: 25%;
	border: 2px solid #0000FF;
}

div#left {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 74.5%;
}